body{
    font-size: 24px;
}

/*Header*/
header
 {
     background-color: #7CCC6C;

 }

 #nom-assoc
 {
     font-size: 2em;
 }

#logo
{
    width: 100px;
    height: 100px;

}

nav ul
{
	list-style: none;
	display: flex;
	justify-content: space-around;
    align-items:center;

}

nav ul li
{
    padding: 40px 40px 40px 40px;
}




/*le reste*/
section{
    /*width: 50%;*/ 
    margin-left: 5%;
    margin-right: 5%; 
}

.enTete1{
    text-align: center;
    font-size: 2em;
    border:5px solid blue;
}

.enTete2{
    text-align: center;
    font-size: 2em;
    border:5px solid orange;
}

.enTete3{
    text-align: center;
    font-size: 2em;
    border:5px solid red;
}

.enTete4{
    text-align: center;
    font-size: 2em;
    border:5px solid black;
}

img {
    /*position: absolute;*/
    width: 100%;
    /*margin: 1% auto;*/
}

.container {
    flex-direction: column
  }

.resumeBallade{
    font-size: 1.2em;
}


.illustration {
    margin: 5%;
}

p{
    font-size: 1.5 em;
}