body{
    font-size: 18px; /*Taille texte lisible*/
}

/*Header*/
header
{
    background-color: #7CCC6C;
}

#nom-assoc
{
    font-size: 1.5em;
}

#logo
{
   width: 100px;
   height: 100px;

}


nav ul
{
   list-style: none;
   display: flex;
   justify-content: space-around;
   align-items:center;

}

nav ul li
{
   padding: 40px 40px 40px 40px;
}




/*le reste*/
section{
    /*width: 50%;*/ 
    margin-left: 5%;
    margin-right: 5%; 
}

.enTete1{
    text-align: center;
    font-size: 2em;
    border:5px solid blue;
}

.enTete2{
    text-align: center;
    font-size: 2em;
    border:5px solid orange;
}

.enTete3{
    text-align: center;
    font-size: 2em;
    border:5px solid red;
}

.enTete4{
    text-align: center;
    font-size: 2em;
    border:5px solid black;
}

img {
   
    width: 60%; /*réduite pour une meilleure accroche visuelle*/
    display: block; /*Pour travailler en block */
    margin-left: auto; /*centrage auto*/
    margin-right: auto; /*centrage auto*/
}

.container {
    flex-direction: column
  }

.resumeBallade{
    font-size: 1.2em;
}


.illustration {
    margin: 5%;
}

p{
    font-size: 1.5 em;
}