/*assignation taille facilitant la lecture*/
body{
    font-size: 18px; /*Taille texte lisible*/
}

/*Header*/
header
{
    background-color: #7CCC6C;
    border-radius: 15px;

}

#nom-assoc
{
    font-size: 1.5em;
}

#logo
{
   width: 100px;
   height: 100px;
}

nav ul
{
    list-style: none; /*absence de puces*/
    display: flex; /*présentation en une ligne*/
    justify-content: space-around; /*équilibrage des espaces*/
    align-items:center; /*alignement vertical*/
    padding-inline-start: unset; /*désective les 40px de marge ul imposée par le navigateur*/
}

nav ul li
{
   padding: 40px 00px 40px 00px; /*ajout marge haute et basse*/
}


/*le reste*/
section
{
    margin-left: 5%; /*ajout marge D et G pour la présentation*/
    margin-right: 5%; 
}

/*en tête couleur différente suivant randonnée*/
.enTete1
{
    text-align: center;
    font-size: 2em;
    border:5px solid blue; /*entourage couleur de la difficulté*/
    border-radius: 15px;  /*desicn is the key*/
}

.enTete2
{
    text-align: center;
    font-size: 2em;
    border:5px solid orange;
    border-radius: 15px; 
}

.enTete3
{
    text-align: center;
    font-size: 2em;
    border:5px solid red;
    border-radius: 15px; 
}

.enTete4
{
    text-align: center;
    font-size: 2em;
    border:5px solid black;
    border-radius: 15px; 
}

/*gestion image illustration*/
img 
{
    width: 80%; /*réduite pour une meilleure accroche visuelle*/
    display: block; /*Pour travailler en block */
    margin-left: auto; /*centrage auto à gauche*/
    margin-right: auto; /*centrage auto à droite*/
}

/*Ensemble sous la difficulté*/ 

.container 
{
    flex-direction: column; /*en colonne*/
}

/*photo & résumé*/
.balladeEtResume
{
    display: flex; /*permet d'aligner les blocks*/
    align-items: center;
    /*align-items: flex-end;*/
}

/*la photo*/
.illustration 
{
    display: inline-block; /*accepte des blocs à ses cotés*/
    margin: 0%; /*pas de marges*/
    width: 650px; /*largeur*/
}
/*résumé ballade, en 3 pts*/
.resume
{
    display: inline-block;
    width: 300px;
}

/*liste en 3 points*/
.resumeBallade
{
    font-size: 1.2em;
}

h2
{ /*centre le "Votre Parcours"*/
    text-align: center;
}

p 
{ /*lecture normale*/
    font-size: 1.0em;
}

h3
{
    text-align: center;
    /*font-style: italic;*/
}

/*Media query*/
@media screen and (max-width: 780px)
{
    #nom-assoc /*modification taille nom*/
    {
     font-size: 1.3em;
    }

    #logo /*modification taille logos*/
    {
        width: 60px;
        height: 50px;
    }

    p 
    { /*Augmentation taille texte pour faciliter lecture*/
        font-size: 1.2em;
    }

    img 
    {
        width: 100%; /*annulation réduction pour une meilleure accroche visuelle*/
        display: block; 
        margin-left: auto; 
        margin-right: auto;
    }
    
    .balladeEtResume
    {
        display: block;
    }
    
    
    /*résumé ballade, texte expliquatif*/
    .resumeBallade
    {
        font-size: 1.2em;
    }
    
    .illustration 
    {
        width: unset; /*suppression width pour éviter le conflit*/
        margin: 5%;
    }

    .resume
    {
        display: block; /*retour au format block*/
        width: unset; /*suppression width pour éviter le conflit*/
    }


}