
body{

    font-size: 18px;
}

header
 {
     background-color: #7CCC6C;

 }

 #nom-assoc
 {
     font-size: 1.5em;
 }

#logo
{
    width: 100px;
    height: 100px;

}


nav ul
{
	list-style: none;
	display: flex;
	justify-content: space-around;
    align-items:center;

}

nav ul li
{
    padding: 0px 0px 0px 0px;
}

P{
    margin: auto;
}