body {
    font-size: 18px; /* Taille de la police pour la page */
}

<<<<<<< HEAD

=======
/* Css de l'entete */
>>>>>>> 663e82a0e53183d7a1f9ee472ba7a95c34c732ee
header {
    background-color: #7CCC6C;
    border-radius: 15px;
}

#nom-assoc, h1 .enTeteHome {           /* h1 : aJouté par Pascal le 24/03 */
    font-size: 1.5em;
}

#logo {
    width: 100px;
    height: 100px;
}

nav ul {
    padding-inline-start: unset;
    /* désactive les 40 px par défaut de la balise <ul> sur les navigateurs */
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    padding: 40px 0px 40px 0px;
}

.illustration {
    display: inline;
    margin: 5%;
}

p {
    margin: auto;
}

/* Mise en page des photos et titre  */

.enTeteHome {                         /* AJouté par Pascal le 24/03 */
    text-align: center;
    font-size: 2em; 
    color: #536162;
}

.enTeteFacile {                      /* AJouté par Pascal le 24/03 */
    text-align: center;
    /* font-size: 2em; */
    color: #2b2e4a;
}

.enTeteMoyen {                       /* AJouté par Pascal le 24/03 */
    text-align: center;
    /* font-size: 2em; */
    color: #ffc93c;
    
    
}

.enTeteDifficile {                   /* AJouté par Pascal le 24/03 */
    text-align: center;
    /* font-size: 2em; */
    color: #be0000;

}

.enTeteImpossible {                  /* AJouté par Pascal le 24/03 */
    text-align: center;
    /* font-size: 2em; */
    color: #1b1717;
    
}


.container {
    flex-direction: column
}

img {
    width: 60%;
    /*réduite pour une meilleure accroche visuelle*/
    display: block;
    /*Pour travailler en block */
    margin-left: auto;
    /*centrage auto à gauche*/
    margin-right: auto;
    /*centrage auto à droite*/
}


#parcoursFacile{
    border: solid #2b2e4a;
    width: 70%;
    border-radius: 15px;
    float: left;
    margin: 10px;
}

#parcoursMoyen{
    border: solid #ffc93c;
    width: 70%;
    border-radius: 15px;
    float:right;
    margin: 10px;
}

#parcoursDifficile{
    border: solid #be0000;
    width: 70%;
    border-radius: 15px;
    float:left;
    margin: 10px;
}

#parcoursImpossible{
    border: solid #1b1717;
    width: 70%;
    border-radius: 15px;
    float:right;
    margin: 10px;
}

/*
#osez{
    border: solid #7CCC6C;
    border-radius: 15px;
}
*/

@media screen and (max-width: 780px) {
    #nom-assoc/*modification taille nom*/
        {
        font-size: 1.3em;
    }
    
    #logo/*modification taille logos*/
        {
        width: 60px;
        height: 50px;
    }
    .enTeteHome, .enTeteFacile, .enTeteMoyen, .enTeteDifficile{      /* AJouté par Pascal le 24/03 */
        font-size: 0.9em;
    }
    p {
        /*Augmentation taille texte pour faciliter lecture*/
        font-size: 1.2em;
    }
    img {
        width: 50%;
        /*annulation réduction pour une meilleure accroche visuelle*/
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

